@import url(/style.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #ebebeb;
}

:root {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        --main-heading: rgb(32, 32, 32);
        --font-color: #282a36;
        --BACKGROUND-color: #f39494;
        --PRIMERY-color: rgb(12, 109, 165);
        --SECONDERY-color: rgb(255, 196, 1);
        --FOOTER-color: #202020;
        --red-icon-color:red;
        --white-text-color:white;
        --WHITE-DULL:#ece9f2;
        --WHITE: #ffffff;
        --GRAY-80: #333333;
        --GREY-60: #929191;
        --GRAY-40: #8f8e8e;
        --GRAY-50: #7e7a7a;
        --GRAY-20: #C4C4C4;
        
}

.navbar-md-head {
    display: flex;
    justify-content: space-around;
    background-color: var(--PRIMERY-color);
    width: auto;
    flex-wrap: wrap;
    height: auto;

}

.navbar-icons {
    display: flex;
    justify-content: space-around;


}

.fa-search {
    padding: 4px;
    font-size: 1.6rem;
    background-color: var(--white-text-color);
    color: var(--GRAY-80);
}


.navbar-head-logo {
    color: var(--WHITE);
    display: flex;
    align-items: center;
}
.navbar-head-logo a{
      text-decoration: none;
      color: var(--WHITE);
  

}

.navbar-login-btn {
    background-color: var(--SECONDERY-color);
    padding: .5rem;
    color: #312546;
    font-weight: 600;
    font-size: 1.1rem;
    margin: .3rem;
    width: 8%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6rem;
}

.navbar-input-search {
    align-items: center;
    display: flex;
}
.fa-search{
    font-size: 1.3rem;
    padding: .4rem;
    border-radius: 0px 5px 5px 0px;
}

.input-text-navbar {
    border: 1px solid var(--white-text-color);
    padding: .5rem;
    width: 25rem;
    border-radius: 5px 0px 0px 5px;
}

.fa-cart-arrow-down {
    margin: 1rem;
    font-size: 1.3rem;
    color: var(--WHITE);
}

.fa-heart {
    margin: 1rem;
    font-size: 1.3rem;
    color: var(--red-icon-color);
}

.search-button {
    border: none;
    border-radius: 5px;

}

/****************************************login*************************************/
.login-container-FP {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 30%;
    box-shadow: 0px 0px 10px var(--GRAY-40);
    height: 20rem;
    padding: 3rem;
    background-color: var(--white-text-color);
    height: auto;


}

.input-check-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
    justify-content: center;

}

.Login-input {
    background-color: var(--PRIMERY-color);
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    color: #e7e7e7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 1rem;
}

label {
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;

}

.login-Fp-header {
    display: flex;
    justify-content: center;
    color:var(--FOOTER-color);
}

.input-lg {
    border: none;
    padding: .5rem;
    align-items: center;
    display: flex;
    border: 1px solid var(--GRAY-40);
    margin-top: .2rem;
    border-radius: 4px;

}

.login-create-acc {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container-login {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}