
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #ebebeb;
}

:root {

      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-color: #282a36;
    --BACKGROUND-color : #f39494;
    --PRIMERY-color : rgba(12, 109, 165, 0.842);
    --SECONDERY-color : rgb(255, 196, 1);
    --FOOTER-color : #202020;
    --font-color-cta: white;
   
}

.navbar-md-head {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    width: 100%;
    height: auto;

}

.navbar-icons {
    display: flex;
    justify-content: space-around;


}

.fa-search {
   
    padding: .45rem;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.7rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.navbar-head-logo {
    color: #135a91;
    font-size: larger;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
}

.navbar-login-btn-index {
    background-color: rgb(255, 196, 1);
    padding: 1rem;
    color: #312546;
    font-weight: 600;
    font-size: 1.1rem;
    margin: .3rem;
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6rem;
}
.navbar-login-btn-signin {
     background-color: transparent;
     border: 1px solid #ffffff;
     padding: .8rem;
     color: #ffffff;
     font-weight: 600;
     font-size: 1.1rem;
     margin: .3rem;
     width: 100%;
     height: 2rem;
     border-radius: .8rem;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: .6rem;

}
.navbar-login-btn-signin a{
    color: var(--text-color);
}

.navbar-input-search {
    align-items: center;
    display: flex;

}
.navbar-login-signin-index {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
    
}
.navbar-login-btn {
    width: 4rem;

}

.input-text-navbar {
    border: 1px solid rgb(255, 255, 255);
    padding: .5rem;
    width: 25rem;
    border-radius: 5px 0px 0px 5px;
}
/*------------------------------------------------------*/
 body {
     font-family: "Nunito", sans-serif;
    
 }

 a {
     text-decoration: none;
 }

 li {
     list-style: none;
 }

 

 .header {
     width: 80%;
     margin: 70px auto;
 }

 .container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }

 .container img {
     width: 100%;
 }

 .container div h3 {
     font-size: 5rem;
 }



 .container div p {
     margin: 20px 0;
 }
.h3-hero-content {
    color: #222222;
    text-shadow: 2px 2px 5px rgb(95, 95, 95);
    
}
 .container div a {
     padding: 15px;
     background: rgb(51, 51, 51);
     margin: 20px 0;
     display: inline-block;
     color: #fff;
     border-radius: 10px;
     transition: 1.5s;
 }
 .Secondary-btn{
      padding: 15px;
      margin: 20px 0;
      border:1px solid #135a91;
      display: inline-block;
      color: rgb(34, 34, 34) !important;
      background-color: #e7e7e7 !important;
      border-radius: 10px;
      transition: 1.5s;

 }
 

 .container div a:hover {
     background-color: dodgerblue;
     color: black;
     transition: 1s;
 }

 .headphone {
     position: absolute;
     top: -10%;
     left: 5%;
     opacity: .1;
     z-index: -1;
 }

 /* Footer */
 footer {
     margin: 100px 0 0 0;
     background: #333;
     padding: 3rem ;
 }

 footer .main-container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     
 }

 .main-container div h4 {
     color: rgb(41, 100, 177);
     font-size: 25px;
     margin: 10px 0;
 }

 .main-container div li {
     cursor: pointer;
     margin: 3px 0;
     color: #e7e7e7;
 }

 hr {
     margin: 20px 0;
     opacity: .4;
 }

 .headphone2 {
     position: absolute;
     top: 60%;
     right: 28%;
     opacity: .1;
     z-index: -1;
 }
 .navbar-head-logo a {
     text-decoration: none;
     color: #ece9f2;
 }
 /*******************************************************************mycart*************************************/
 .home-card-Md-body {
     background-color: #ffffff;
     display: flex;
     width: 40%;
     box-shadow: 0px 0px 10px #868585;
     padding: .3rem;
     margin: 1rem;

 }

 .card-side {
     display: flex;
     flex-direction: column;

 }

 .home-card-container-md {

     display: flex;
     justify-content: center;
 }

 .image-card {
     width: 80%;
     height: auto;
     border-radius: .2rem;
     margin-left: .3rem;
 }

 .card-heading-md-2 {
     margin-top: 1rem;
     font-weight: bolder;
     background-color: #ff9900;
     padding: .5rem;
     display: flex;
     justify-content: center;

 }

 .card-para-md {
     margin-top: 1rem;
 }

 .mycart-heading {
     display: flex;
     justify-content: center;
     padding: 1rem;
 }

 .items-quantity {
     display: flex;
     align-items: center;
     gap: 1rem;
     padding: .1rem;

 }

 .number {
     border: 1px solid var(--font-color);
     width: 2rem;
     border-radius: .3rem;
     align-items: center;
     display: flex;
     justify-content: center;


 }

 .second-card {
     background-color: var(--text-color);
     display: flex;
     width: 24%;
     height: auto;
     box-shadow: 0px 0px 10px #868585;
     padding: .8rem;
     margin: 1rem;

 }

 .discount-chart {
     display: flex;
     justify-content: space-between;
 }

 .discount-chart h5 {
     color: rgb(63, 63, 63);
 }

 /*----------------------------------------------navbar---------------------------------*/
 :root {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     --font-color: #282a36;
     --BACKGROUND-color: #f39494;
     --PRIMERY-color: rgb(12, 109, 165);
     --SECONDERY-color: rgb(255, 196, 1);
     --FOOTER-color: #202020;
     --icons-color: #fe0000a9;
     --text-color: #ffffff;
     --no-btn-color:rgba(0, 255, 0, 0.877);
     --text-color-login-btn:#140330;

 }

 body {
     background-color: #ebebeb;
 }

 :root {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(32, 32, 32);
 }

 .navbar-md-head {
     display: flex;
     justify-content:  space-around;
     background-color: var(--PRIMERY-color);
     width: auto;
     flex-wrap: wrap;
     height: auto;

 }

 .navbar-head-logo a {
     text-decoration: none;
     color: var(--text-color);
 }

 .navbar-icons {
     display: flex;
     justify-content: space-around;


 }

 .fa-search {
     padding: 4px;
     font-size: 1.6rem;
     background-color: var(--text-color);
     color: var(--FOOTER-color);
 }

 .navbar-head-logo {
     color: var(--text-color);
     display: flex;
     align-items: center;
 }

 .navbar-login-btn {
     background-color: var(--SECONDERY-color);
     padding: .5rem;
     color: #312546;
     font-weight: 600;
     font-size: 1.1rem;
     margin: .3rem;
     width: 8%;
     height: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: .6rem;
 }

 .navbar-input-search {
     align-items: center;
     display: flex;
 }

 .input-text-navbar {
     border: 1px solid var(--text-color);
     padding: .5rem;
     width: 25rem;
     border-radius: 5px 0px 0px 5px;
 }

 .fa-cart-arrow-down {
     margin: 1rem;
     font-size: 1.3rem;
     color: var(--text-color);
 }

 .fa-heart {
     margin: 1rem;
     font-size: 1.3rem;
     color: var(--icons-color);
 }

 .search-button {
     border: none;
     border-radius: 5px;

 }
 .badge--number {
     position: relative;
     top: -15px;
     right: -80%;
     aspect-ratio: 1/1;
     font-size: 12px;
     font-weight: 600;
     border-radius: 30px;
     background-color: var(--text-color);
     color: var(--BLACK-100);
     padding: 2px;
     border: 2px solid var(--WHITE);
 }
 .fa-sign-out-alt{
     display: flex;
     color: var(--text-color);
     font-size: 1.5rem;
     align-items: center;
     margin-top: 1rem;
     margin-left: 2rem;
 }
 /*-------------------------------------navbar-----------*/

 /*------------------------icon-css---------*/
 .badge--number {
     position: relative;
     top: -15px;
     right: -80%;
     aspect-ratio: 1/1;
     font-size: 12px;
     font-weight: 600;
     border-radius: 30px;
     background-color: #ffffff;
     color: var(--BLACK-100);
     padding: 2px;
     border: 2px solid var(--WHITE);
    
 }
 .navbar-icons a{
      text-decoration: none;
      color: rgb(255, 87, 87);

 }

 .fa-sign-out-alt {
     display: flex;
     color: var(--text-color);
     font-size: 1.5rem;
     align-items: center;
     margin-top: 1rem;
     margin-left: 2rem;
 }
 /*------------------category--------------*/
 .card-product-section-category-content{
     display: flex;
     flex-direction: column;
     gap: .5rem;
     justify-content: center;
     align-items: center;
     width: 30%;
     border: 1px solid var(--font-color-cta);
     border-radius: 10px;
     padding: 3rem;
 }
 .card-product-section-category{
     display: flex;
     justify-content: center;
     gap: 1rem;
     background-color: var(--PRIMERY-color);
     padding: 2rem;
 }
 .card-product-section-category-content a{
     background-color: #fec401;
     padding: 1rem;
     color: var(--font-color-cta);
     text-decoration: none;
     border-radius: 10px;

 }
 .card-product-section-category-content p{
     color: var(--font-color-cta);
     font-weight: 600;
 }
 .container {
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
 }
 .hero-img{
     width: 50%;
 }
.logo-img{
    width: 6rem;
    height:6rem;
    border-radius: 50px;
    padding: rem;
    
}
/*---------card-rating-*/
.badge-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--WHITE);
    background-color: green;
    width: 3.5rem;
    padding: 0.2rem;
    font-size: 1rem;
    border-radius: 3px;
}

/*partition*/
.partition{
    width: 60rem;
    border: 1px solid ghostwhite;
    height: 3rem;
    display: flex;
    justify-content: center;
}
/*footer*/
.image-footer-ft{
    width: 60%;
  
    bottom: 8rem;

}
.image-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*create new acc*/
.login-create-acc a{
    text-decoration: none;
    color: var(--PRIMERY-color);
}
/*--*/
body {
    background-color: var(--BACKGROUND_COLOR);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--BACKGROUND_COL-2CHOICE);
    color: #303030 !important;


}


.dark-mode {
    background-color: var(--font-color);
    color: #ffffff !important;
}
.fa-moon{
    font-size: 1.5rem;
   padding-top: .8rem;
}

button {
    border: none;
    background-color: transparent;
    color: #ffffff !important;

}

