@import url(/style.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@300&family=Montserrat:wght@100;300;500;700;900&family=Zen+Antique&family=Zen+Kurenaido&display=swap');
:root{
    font-family: 'Montserrat',
    sans-serif;
}
.log-out-container{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    background-color: var(--text-color);
    width: 40%;
    margin: auto;
    padding: 1rem;
    box-shadow: 2px 2px 7px rgb(190, 190, 190);
   
}
.log-out-container-body-btn{
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}
.log-out-container-body-text{
    padding: 1rem;
   
}
.log-out-container-body-btn-yes{
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--icons-color);
    color: var(--text-color);
    font-size: 1rem;
}
.log-out-container-body-btn-no{
      border: none;
      padding: 1rem;
      border-radius: 10px;
      background-color: var(--no-btn-color);
      color: var(--text-color);
      font-size: 1rem;

}