@import url(/my-cart/mycart.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #ebebeb;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-color: #282a36;
    --BACKGROUND-color: #f39494;
    --PRIMERY-color: #312546;
    --SECONDERY-color: rgb(255, 196, 1);
    --FOOTER-color: #00ffff88;

}
.navbar-md-head {
    display: flex;
    justify-content: space-around;
    background-color: #482880;
    width: auto;
    flex-wrap: wrap;
    height: auto;

}

.navbar-icons {
    display: flex;
    justify-content: space-around;


}

.fa-search {
    padding: 4px;
    font-size: 1.6rem;
    background-color: rgb(255, 255, 255);
    color: rgb(95, 95, 95);
}

.navbar-head-logo {
    color: #ece9f2;
    display: flex;
    align-items: center;
}

.navbar-login-btn {
    background-color: rgb(255, 196, 1);
    padding: .5rem;
    color: #312546;
    font-weight: 600;
    font-size: 1.1rem;
    margin: .3rem;
    width: 8%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6rem;
}

.navbar-input-search {
    align-items: center;
    display: flex;
}

.input-text-navbar {
    border: 1px solid rgb(255, 255, 255);
    padding: .5rem;
    width: 25rem;
    border-radius: 5px 0px 0px 5px;
}

.fa-cart-arrow-down {
    margin: 1rem;
    font-size: 1.3rem;
    color: #ece9f2;
}

.fa-heart {
    margin: 1rem;
    font-size: 1.3rem;
    color: red;
}

.search-button {
    border: none;
    border-radius: 5px 5px 5px 5px;

}
/***************************************card******************/
.card-body{
    width: auto;
    height: auto;
    display: flex;
    background-color: white;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
    margin: 1rem;
}
.image-wish{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.card-body-item-info{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    
}
.card-body-item-info h3{
    display: flex;
    padding-top: 1rem;
    color: #252525;
    justify-content: center;
    align-items: center;

}
.card-body-item-info p{
    display: flex;
    padding-top: 1rem;
    color: #252525;
    font-size: 1rem;
    font-weight: 600;
     justify-content: center;
     align-items: center;


}
.card-header{
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.card-body-item{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.card-heading-md-2{
    border: none;
    color: #2a2a2b;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
