@import url(/my-cart/mycart.css);
@import url(/style.css);
@import url(/SignIn/SignIn.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: #ebebeb;
}


  :root {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      --font-color: #282a36;
      --BACKGROUND-color: #f39494;
      --PRIMERY-color: rgb(12, 109, 165);
      --SECONDERY-color: rgb(255, 196, 1);
      --FOOTER-color: #202020;
      --WHITE_COL:white;

  }


.navbar-md-head {
    display: flex;
    justify-content: space-around;
    background-color: var(--PRIMERY-color);
    width: auto;
    flex-wrap: wrap;
    height: auto;

}

.navbar-icons {
    display: flex;
    justify-content: space-around;


}



.navbar-head-logo {
    color:var(--WHITE_COL);
    display: flex;
    align-items: center;
}

.navbar-login-btn {
    background-color: rgb(255, 196, 1);
    padding: .5rem;
    color: #312546;
    font-weight: 600;
    font-size: 1.1rem;
    margin: .3rem;
    width: 8%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6rem;
}


.input-text-navbar {
    border: 1px solid var(--WHITE_COL);
    padding: .5rem;
    width: 25rem;
    border-radius: 5px 0px 0px 5px;
}

.fa-cart-arrow-down {
    margin: 1rem;
    font-size: 1.3rem;
    color: var(--WHITE_COL);
}

.fa-heart {
    margin: 1rem;
    font-size: 1.3rem;
    color: red;
}


/***************************************card******************/
.card-body{
    width: auto;
    height: auto;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;
    margin: 1rem;
}
.wishlist--badge {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2px;
    top: -6px;
    width: 1rem;
    height: 1rem;
    background-color: var(--WHITE);
    color: #fff;
}
.image-wish{
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.card-body-item-info{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    
}
.card-body-item-info h3{
    display: flex;
    padding-top: 1rem;
    color: #252525;
    justify-content: center;
    align-items: center;

}
.card-body-item-info p{
    display: flex;
    padding-top: 1rem;
    color: #252525;
    font-size: 1rem;
    font-weight: 600;
     justify-content: center;
     align-items: center;


}
.card-header{
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.card-body-item{
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #b3b3b3;
    border-radius: 10px;
    display: flex;
    height: 30%;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    
}
.card-heading-md-2{
    border: none;
    color: #2a2a2b;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.card-body-item :hover{
    
    border: 1px solid rgba(255, 115, 0, 0.308);
    border-radius: 10px;
}
